<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid of Audio Files</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
      var nside = parseInt({{ metadata.nside }})
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   </head>
  <body>
    <audio id="in-sound">
      <source src="{{ url_for('static', filename='stock_sounds/in.mp3') }}">
    </audio>
    <audio id="out-sound">
      <source src="{{ url_for('static', filename='stock_sounds/out.mp3') }}">
    </audio>
    <audio id="oob-sound">
      <source src="{{ url_for('static', filename='stock_sounds/oob.mp3') }}">
    </audio>

    <div class="wrapper">
      <div class="grid">
      <h1> Hyperspectral listener :: Powered by <a href="https://www.audiouniverse.org/research/strauss" target="_blank">STRAUSS</a></h1>
      
        <div class="sidebar">
          <p>
          <form method="post" enctype="multipart/form-data">
              {{ form.hidden_tag() }}
              {{ form.file }}
              <br />
              <button type="submit" value="Submit" onclick="$('#loading').show();"
>Generate Audio Files</button> 
          </form>
          <div id="loading" style="display:none;"><img src="{{ url_for('static', filename='images/loading.gif') }}" alt="" />Creating audio files</div>
          <button class="collapsible"> Set Parameters</button>
          <div class="params">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <br />
          <button class="setup-context"> Setup Audio Engine</button> <br />
          <button class="helper-switch"> Turn Off Helper Sounds </button> <br />
          <button class="dark-mode">Use Dark Mode</button> <br />
          <button class="switch-axis"> Use Log Y Scale </button>
          </p>
        </div>
        <div class="main">
            <canvas id='mycanvas' aria-label="2D image. Click and hold mouse to hear spectrum for each pixel." role="main">
            </canvas>
        </div>
        <div class="right">
            <div style="width: 100%; margin: 0 auto;">
            <canvas id="integratedChart" aria-label="Line chart showing integrated spectrum for datacube: peak-normalised flux as a function of wavelength." role="img"></canvas>
            <br />
            <canvas id="myChart" aria-label="Dynamic line chart showing peak-normalised flux as a function of wavelength." role="img"></canvas>
            </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
